<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send e-mail</title>
</head>
<body>
    <form action="{% url 'send-email-view' %}" method="POST">
        {% csrf_token %}
        <label for="subject">Subject</label>
        <input type="text" name="subject" >
        <label for="message">Message</label>
        <input type="text" name="message">
        <label for="emails">E-mails(multiple with comma)</label>
        <input type="email" name="emails" placeholder="smth@smth.com,smth2@smth.com" multiple>
        <input type="submit">
    </form>
</body>
</html>